In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

## **1. Cargando los Datasets con los que vamos a trabajar**

In [77]:
dir_datasets = '/content/drive/MyDrive/DataScience/2. Proyecto de Data Science con Python - YT/0.Dataset/{}'

df_data_historica = pd.read_csv(dir_datasets.format('fifa_worldcup_matches.csv'))
df_fixture = pd.read_csv(dir_datasets.format('fifa_worldcup_fixture.csv'))
df_data_faltante = pd.read_csv(dir_datasets.format('fifa_worldcup_missing_data.csv'))

# **2. Limpiando df_fixture**

In [78]:
# vamos a limpiar las columnas home y away de los espacios en blanco
df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

# **3. Limpiando df_missing_data y concatenar al dataframe orginal(df_data_historica)**

In [79]:
# revisamos si hay data faltante en las columnas y luego eliminamos
df_data_faltante[df_data_faltante['home'].isnull()]
df_data_faltante.dropna(inplace=True)

In [80]:
# ahora vamos a concatenar el dataframe orginal historica con el dataframe faltante
df_data_historica = pd.concat([df_data_historica, df_data_faltante], ignore_index=True)
df_data_historica

             home score          away  year
0         France    4–1        Mexico  1930
1      Argentina    1–0        France  1930
2          Chile    3–0        Mexico  1930
3          Chile    1–0        France  1930
4      Argentina    6–3        Mexico  1930
..            ...   ...           ...   ...
896        Spain    0–1   Switzerland  2010
897        Chile    1–0   Switzerland  2010
898        Spain    2–0      Honduras  2010
899        Chile    1–2         Spain  2010
900  Switzerland    0–0      Honduras  2010

[901 rows x 4 columns]

In [81]:
# ahora vamos a eliminar duplicados que podria tener un dataframe y a ordenarlo
df_data_historica.drop_duplicates(inplace=True)
df_data_historica.sort_values('year', inplace=True)
df_data_historica

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
419     Brazil    2–0      Costa Rica  2018
420     Serbia    1–2     Switzerland  2018
421     Serbia    0–2          Brazil  2018
408     France    1–0            Peru  2018
450     Brazil    1–2         Belgium  2018

[901 rows x 4 columns]

In [82]:
df_data_historica.dtypes

home     object
score    object
away     object
year      int64
dtype: object

In [83]:
df_data_historica[df_data_historica['score']=='w/o[a]']

       home   score      away  year
37  Sweden   w/o[a]   Austria  1938

In [85]:
regex_pattern = r'^\d+–\d+$'
df_filtered = df_data_historica[~df_data_historica['score'].str.match(regex_pattern)]

                home         score             away  year
34            Italy   2–1 (a.e.t.)   Czechoslovakia  1934
27            Italy   1–1 (a.e.t.)            Spain  1934
24          Austria   3–2 (a.e.t.)           France  1934
48           Brazil   1–1 (a.e.t.)   Czechoslovakia  1938
42   Czechoslovakia   3–0 (a.e.t.)      Netherlands  1938
..               ...           ...              ...   ...
443           Spain   1–1 (a.e.t.)           Russia  2018
444         Croatia   1–1 (a.e.t.)          Denmark  2018
448        Colombia   1–1 (a.e.t.)          England  2018
452          Russia   2–2 (a.e.t.)          Croatia  2018
454         Croatia   2–1 (a.e.t.)          England  2018

[69 rows x 4 columns]

In [90]:
from google.colab import drive
drive.mount('/content/drive')

# Exportar el DataFrame a un archivo CSV
df_filtered.to_csv('/content/drive/MyDrive/DataScience/2. Proyecto de Data Science con Python - YT/df_filtered.csv', index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [87]:
import os
print(os.getcwd())

/content